:root{
    --font-family-sans-serif:"Cairo" !important;
}

html,
body {

    font-size: 15px !important;
    font-family: 'Cairo', sans-serif !important;
    direction: rtl !important;
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
    font-weight: 700;
    color: #feac01;
}

@media (min-width: 1025px){
    .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 90px;
    }
}